<section class="tasksManagerContainer">
    <div class="managerSidebar">
        <div class="managerListTitle">
            <h2>Listes</h2>
        </div>
        <div class="listsManagement">
            <a class="listsManagement-item is-active">
                <p>Liste 1 - test</p>
            </a>
            <a class="listsManagement-item">
                <p>Liste 2 - test</p>
            </a>
            <a class="listsManagement-item">
                <p>Liste 3 - test</p>
            </a>
        </div>
        <div class="managementListsButton">
            <button class="addListButton" (click)="createNewList()"> + Nouvelle Liste</button>
        </div>
    </div>
    <div class="tasksManager">
        <div class="managerTaskTitle">
            <h2>Todo</h2>
        </div>
        <div class="tasksManagement">
            <p class="task">1ère tâche</p>
            <p class="task">2ème tâche</p>
            <p class="task taskComplete">3ème tâche</p>
        </div>
    </div>
</section>